@use 'mixins';

// Media Querie For Desktop
@media screen and (min-width: 64rem) {
    .card__component {
        @include mixins.width_height(24rem, 32.625rem);
        
        &__blogimage {
            width: 21rem;
        }

        &__content {
            @include mixins.width_height(21rem, 12.125rem);

            & .--category {
                @include mixins.width_height(5.125rem, 1.813rem);

                & p {
                    @include mixins.width_height(3.625rem, 1.313rem);
                    font-size: 0.875rem;
                }
            }

            & .--publishdate {
                @include mixins.width_height(8.938rem, 1.313rem);    
                font-size: 0.875rem;
            }

            & .--title {
                @include mixins.width_height(21rem, 2.25rem);
                font-size: 1.5rem;
            }

            & .--description {
                @include mixins.width_height(21rem, 4.5rem);
                font-size: 1rem;
            }
        }
    }
}
// End Media Querie For Desktop