@use 'mixins';

// Media Querie For Desktop
@media screen and (min-width: 1024px) {
    .card__component {
        @include mixins.width_height(384px, 522px);
        
        &__blogimage {
            width: 336px;
        }

        &__content {
            @include mixins.width_height(336px, 194px);

            & .--category {
                @include mixins.width_height(82px, 29px);

                & p {
                    @include mixins.width_height(58px, 21px);
                    font-size: 14px;
                }
            }

            & .--publishdate {
                @include mixins.width_height(143px, 21px);    
                font-size: 14px;
            }

            & .--title {
                @include mixins.width_height(336px, 36px);
                font-size: 24px;
            }

            & .--description {
                @include mixins.width_height(336px, 72px);
                font-size: 16px;
            }
        }
    }
}
// End Media Querie For Desktop