.-line-height {
  line-height: 150%;
}

.-medium {
  font-weight: 500;
}

.-extra-bold {
  font-weight: 800;
}

.-font-black {
  color: #111111;
}

.-font-gray {
  color: #7F7F7F;
}

@font-face {
  font-family: "Figtree";
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #F4D04E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.card__component {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1.25rem;
  background-color: #FFFFFF;
  width: 20.438rem;
  height: 31.313rem;
  border: solid 0.063rem #111111;
  box-shadow: 0.5rem 0.5rem 0 0 #000000;
}
.card__component__blogimage {
  width: 17.438rem;
  height: 12.5rem;
  background: url(../assets/images/illustration-article.svg) no-repeat center;
  border-radius: 0.625rem;
}
.card__component__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.75rem;
  width: 17.438rem;
  height: 10.813rem;
}
.card__component__content .--category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #F4D04E;
  width: 4.563rem;
  height: 1.625rem;
}
.card__component__content .--category p {
  width: 3.063rem;
  height: 1.125rem;
  font-size: 0.75rem;
}
.card__component__content .--publishdate {
  width: 7.688rem;
  height: 1.125rem;
  font-size: 0.75rem;
}
.card__component__content .--title {
  width: 17.438rem;
  height: 1.875rem;
  font-size: 1.25rem;
  transition: 0.5s ease color;
}
.card__component__content .--title:hover {
  color: #F4D04E;
  cursor: pointer;
}
.card__component__content .--description {
  width: 17.438rem;
  height: 3.938rem;
  font-size: 0.875rem;
}
.card__component__author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.75rem;
  width: 8.063rem;
  height: 2rem;
}
.card__component__author img {
  width: 2rem;
  height: 2rem;
}
.card__component__author h2 {
  width: 5.313rem;
  height: 1.313rem;
  font-size: 0.875rem;
}

@media screen and (min-width: 64rem) {
  .card__component {
    width: 24rem;
    height: 32.625rem;
  }
  .card__component__blogimage {
    width: 21rem;
  }
  .card__component__content {
    width: 21rem;
    height: 12.125rem;
  }
  .card__component__content .--category {
    width: 5.125rem;
    height: 1.813rem;
  }
  .card__component__content .--category p {
    width: 3.625rem;
    height: 1.313rem;
    font-size: 0.875rem;
  }
  .card__component__content .--publishdate {
    width: 8.938rem;
    height: 1.313rem;
    font-size: 0.875rem;
  }
  .card__component__content .--title {
    width: 21rem;
    height: 2.25rem;
    font-size: 1.5rem;
  }
  .card__component__content .--description {
    width: 21rem;
    height: 4.5rem;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
